.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: 30px;
    margin-top: 40px;
}
.media{
    font-size: 50px;
    margin: auto;
}

.copy{
    background-color: $footerColor;
    margin-top: 20px;
    height: 100px;
}

.copy p{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: $copyrightColor;
}