
.botonForm{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin: auto;
    width: 900px;
}

.contacto{
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
}